@font-face {
    font-family: Roboto;
    src: url('../public/fonts/Roboto.ttf');
}
/* для блока "Услуги" */
.services_card{
    border-radius: 10px;
    border: 1px solid;
    border-color: #F4F4F4;
    background: #444856;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
}
/* для блока "Пакеты услуг" */
.packages_card{
    border-radius: 10px;
    border: 1px solid rgba(107, 110, 125, 0.80);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.40);
}
.packages_uninclude{
    opacity: 0.5;
}
.packages_button{
    border-radius: 34px;
    background: #55A0E2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 226px;
    height: 81.148px;
    flex-shrink: 0;
    color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}
.packages_price{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 41px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.05px;
}
packages_name{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
}
.packages_desc{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.1px;
}
.packages_text{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.1px;
}

/* Для блока с картой */
.geolocation_map{
    color: #5C5E6C;
    text-align: start;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.75px;
}

/* Для блока акций */
.stocks{
    background-color: #FFFFFF;
    color: #5C5E6C;
    text-align: start;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.75px;
}
/* Для блока Header */
.header_text{
    color: #000;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}
/* Для страницы ContactsPage */
.contacts_page{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* Для всех заголовков и текстов */
.h1Pages{
    font-size: 4vw;
}
.h2Pages{
    font-size: 2vw;
}
.pPages{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
}
/* это карты для страницы контактов */
.card_for_contacts{
    border-radius: 10px;
    border: 1px solid #F4F4F4;
    border-color: #F4F4F4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
}
/* Для страницы - О нас */
.hr_line{
    background-color: #FEFEFE;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 1px;
}
.card_about_fub{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.40);
    background: #444856;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 164px;
}
.h1_about{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.p_about{
    color: #FFF;
    font-family: Roboto;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.p_test{
    color: #FFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.p_test_2{
    color: #363535;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.5px;
}
.card_about_next{
    border-radius: 10px;
    border: 1px solid rgba(168, 167, 173, 0.40);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);   
}
.card_about_p{
    color: #363535;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.5px;
}
.p_test_3{
    color: #363535;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.1px;
}
.line{
    opacity: 0.42;
    background: #535358;
    width: 2px;
    height: 100%;
}
