@font-face {
    font-family: Roboto;
    src: url('../public/fonts/Roboto.ttf');
}
body{
    overflow-x: hidden;
}
/* Стили для банера */
.banner{
    position: absolute;
    top:0;
    z-index:0;
    width: 100%;
    
}
.carusel_caption{
    top:35%;
}
.carusel_h1{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    /* font-size: 35pt; */
    font-size: calc( (100vw - 480px)/(1280 - 480) * (42 - 16) + 16px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.carusel_p{
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: calc( (100vw - 480px)/(1280 - 480) * (16 - 8) + 8px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
}

/* Стили для хедера */
.header{
    position: relative;
    top:0;
    width: 100%;
    height: 49vw;
    z-index:1;
}

/* Стили для формы входа/регистрации */

.modal-content {
    background-color: rgba(0,0,255,0.2) !important;
    border: 0px !important
}

/* Стили для карусели с Пакетами услуг */
  .body_packages {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    background:#444856;
    /* gap:30px; */
  }
  .cards-wrapper {
    width:100%;
    height:500px;
    max-width:100vw;
    overflow-x:hidden;
    position:relative;
  }
  .cards-wrapper::after {
    content:'';
    display:block;
    position:absolute;
    top:0;
    width:100%;
    max-width:100vw;
    height:100%;
    background:linear-gradient(90deg, #82848d 0%, #ffffff00 30%, #ffffff00 70%, #82848d 100%);
    pointer-events:none;
  }
  .cards {
    position:absolute;
    top:15px;
    left:50%;
    transform:translateX(-110px);
    display:flex;
    flex-direction:row;
    justify-content:space-between;
  }
  .card_packages {
    width:220px;
    height:260px;
    border-radius:14px;
    border:none;
    font-family: Roboto;
    letter-spacing:0.5px;
    display:inline;
    cursor:pointer;
    box-sizing:border-box;
    color:#000;
  }
  .arrow-btn {
    width:40px;
    height:40px;
    background:#fff;
    border-radius:50%;
    border:none;
    box-shadow: 0 6px 8px #00000030;
    position:absolute;
    top:50%;
    left:20px;
    transform:translateY(-50%);
    z-index:1000;
    cursor:pointer;
  }
  .arrow-btn-next {
    left:auto;
    right:20px;
  }

/* Стили для Cnhfybws База знаний */
.ul{
    list-style: disc;
    color: #FFF;
    font-family: Roboto;
}
.card_for_services{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    color: #FFF;
}
.name_block_dark{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Roboto;
    font-size: 55px;
    background:linear-gradient(90deg, #82848d 0%, #ffffff00 30%, #ffffff00 70%, #82848d 100%);
}
.name_block_light{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #5C5E6C;
    font-family: Roboto;
    font-size: 55px;
}
.knows_page_p{
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.knows_page_article_header a{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration:none;
}




/* Пока не помню для чего стили */
.services_card{
    border-radius: 10px;
    border: 1px solid;
    border-color: #F4F4F4;
    background: #444856;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
}
/* для блока "Пакеты услуг" */
.packages_card{
    border-radius: 10px;
    border: 1px solid rgba(107, 110, 125, 0.80);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.40);
}
.packages_uninclude{
    opacity: 0.5;
}
.packages_button{
    border-radius: 34px;
    background: #55A0E2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 226px;
    height: 81.148px;
    flex-shrink: 0;
    color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}
.packages_price{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 41px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.05px;
}
packages_name{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
}
.packages_desc{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.1px;
}
.packages_text{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.1px;
}

/* Для блока с картой */
.geolocation_map{
    color: #5C5E6C;
    text-align: start;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.75px;
}

/* Для блока акций */
.stocks{
    background-color: #FFFFFF;
    color: #5C5E6C;
    text-align: start;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.75px;
}
/* Для блока Header */
.header_text{
    color: #000;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}
/* Для страницы ContactsPage */
.contacts_page{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* Для всех заголовков и текстов */
.h1Pages{
    font-size: 4vw;
}
.h2Pages{
    font-size: 2vw;
}
.pPages{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
}
/* это карты для страницы контактов */
.card_for_contacts{
    border-radius: 10px;
    border: 1px solid #F4F4F4;
    border-color: #F4F4F4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
}
/* Для страницы - О нас */
.hr_line{
    background-color: #FEFEFE;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 1px;
}
.card_about_fub{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.40);
    background: #444856;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 164px;
}
.h1_about{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.p_about{
    color: #FFF;
    font-family: Roboto;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.p_test{
    color: #FFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.p_test_2{
    color: #363535;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.5px;
}
.card_about_next{
    border-radius: 10px;
    border: 1px solid rgba(168, 167, 173, 0.40);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);   
}
.card_about_p{
    color: #363535;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.5px;
}
.p_test_3{
    color: #363535;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.1px;
}
.line{
    opacity: 0.42;
    background: #535358;
    width: 2px;
    height: 100%;
}
